[Unit]
Description=Smart Coffee machine demo in A4H!
Wants=detect_smile.service
Before=detect_smile.service

[Service]
WorkingDirectory=/home/remi/projects/smart_coffee_machine/gateway_software/examples/CafeSourire/
ExecStart=/bin/sh ./configure_demo.sh a4h 

[Install]
WantedBy=multi-user.target
